 <div *ngIf="charakter">
   <h1 id="title">Heldendokument</h1>
   <div>
     <div class="row" *ngFor="let property of charakter.person | keys">
       <label class="col-md-3">{{property.key | capitalize}}</label>
       <label class="col-md-3">{{property.value}}</label>
     </div>
   </div>


   <div>
     <div class="row" *ngFor="let property of charakter.attribute | keys">
       <label class="col-md-3">{{property.key | uppercase}}</label>
       <label class="col-md-3">{{property.value}}</label>
     </div>
   </div>

   <div>
     <div *ngFor="let property of charakter.fertigkeiten | keys">
       <label>{{property.key | capitalize}}</label>
       <div *ngFor="let x of property.value | keys">
          <label>{{x.key | capitalize}}</label>
          <label>{{x.value}}</label>
       </div>
     </div>
   </div>

   <div>
     <div *ngFor="let property of charakter.kampffertigkeit | keys">
       <label>{{property.key | capitalize}}</label>
       <div *ngFor="let x of property.value | keys">
         <label>{{x.key | capitalize}}</label>
         <label>{{x.value}}</label>
       </div>
     </div>
   </div>
</div>

 <app-dice></app-dice>
